body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
main {
  display: flex;
  justify-content: center;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  flex-direction: column;
  border-radius: 25px;
  margin-bottom: 120px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
input {
  height: 50px;
  min-width: 300px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.connect {
  margin-top: 10px;
  background-color: rgb(9, 59, 42);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: #edf1f8;
  width: 200px;
  margin-left: 50px;
  cursor: pointer;
}
.login p {
  color: red;
}
.inputErrorLogin {
  border: 1px solid red;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
